* {
    padding: 0;
    margin: 0;
    font-family: 'Lexend', sans-serif;

}


.card {
    border: 1px solid;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: 20px;
    display: inline-block;
    background-color:white;
}

.minifoto {
    
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    
    
}

.buttons {
    height: 40px;
    width: 300px;
    border-top: 1px solid;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;

    

}




.decline, .approve {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    

}
.approve {
    margin-left: 0;
    border-top: 2px solid lime;
    border-left: 2px solid lime;
    border-bottom: 2px solid lime;

}

.decline {
    margin-right: 0px;
    border: 2px solid red;
}
h3 {
    margin-left: 10px;
    margin-top: 5px;
    /* float: left; */
    

}
h4 {
    margin-left: 10px;
    color: #666;
    /* float: left; */
}

p {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.80em;
    color: #333;
    /* float: left; */
    
    
    
}
.approve-text {
    margin: 5px 30px;
    color: lime;
}
.decline-text {
    margin: 5px 30px;
    color: red;
}